---
layout: layout.liquid
title: 11ty Boilerplate
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
    <link rel="stylesheet" href="screen.css">
  </head>
  <body>
    <article class="content">
      <div class="image-container">
        <img src="/images/interactive-img.PNG" alt="interactive-image">
      </div>
      <div class="container">
        <div class="slides slide2">
          <div class="image-section">
            <a href="MyPalette.html"><img src="images/LogoScreen.jpeg" alt="MyPalette Logo Screen"></a>
          </div>
          <div class="text-section">
            <h2>MyPalette</h2>
            <h3>Providing personalized color analysis to users worldwide</h3>
            <p>Redefining the way individuals access color analysis - style discovery from the <i>comfort</i> of your home.</p>
          </div>
        </div>
      </div>
    </article>
  </body>
</html>